* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em; /* 40px/16=2.5em */
  color: rgba(89, 51, 0, 1);
}

.container {
  height: 100%;
  display: flex; /* or inline-flex */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.center-element {
  /* background-color: #74993e; */
  align-self: center;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.first-element{
  flex:1;
}

.second-element{
  flex:1;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  background: #f4c946;
}
