* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 5em; /* 40px/16=2.5em */
  color: rgba(89, 51, 0, 1);
}

#texto{
  font-size: 3em;
  color: rgba(89, 51, 0, 1);
  padding-bottom: 3rem;
}

.parrafo, .parrafo a{
  font-size: 2rem;
  color: rgba(89, 51, 0, 1);
}

score-input{
  padding: 3rem;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #3333;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* ------------------------------------------------------------------------- */
.container {
  height: 100%;
  display: flex; /* or inline-flex */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.center-element {
  /* background-color: #74993e; */
  align-self: center;
  text-align: center;
  display:flex;
  flex-direction: column;
  width: 80%;
}

.first-element{
  flex:1;
}

.second-element{
  flex:2;
}

#elements{
    align-self: flex-start;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.textInput{
  width: 20rem;
  border: 0.2em solid #886e3c;
  border-radius: 4px;
  font-size: 2.5em;
}

.button {
  background-color: #885e3c; /* poop */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5em;;
  border-radius: 8px;
}

canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  background: #f4c946;
}


#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}
#table tr:nth-child(odd){background-color: white;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #885e3c;
    color: white;
}
